<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/main.css'/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap" rel="stylesheet">
  <title>Chat App</title>
</head>
<body>
  <h1 class="hidden">Chat App</h1>

  <main id="app">
    <section class="left__box">
      <h2>Input Messages here:</h2>
      <label>What is your Name/Nickname?</label>
      <input id="nickname" v-model="nickname" type="text" placeholder="Name/Nickname">
      <div class="pickone">
        <label>Choose your Characters</label>
        <div class="pickAvatar">
          <div v-for="(picture, index) in pictures">
            <img :src="picture" @click="changeActivePic(index)" :class="{ active: index==indexOfActive ? true : false }">
          </div>
        </div>
      </div>
    </section>

    <section class="message container">
      <!-- <h2>Received Messages here:</h2> -->
      <div class="container__box">
        <div class="header">
          <div class="right__info">
            <button class="back-btn">
              <img src="./images/left-arrow.png" width="30" height="30">  
            </button>
            <img class="profile-pic" src="./images/profile.png" width="40" height="40">
            <div class="info-block">
              <p class="username">{{ nickname }}</p>
              <p class="status">{{ status }}</p>
            </div>
          </div>
          <div class="call-box">
            <button>
              <img src="./images/phone-call.png" width="20" height="20">
            </button>
            <button>
              <img src="./images/video-call.png" width="20" height="20">
            </button>
          </div>
        </div>
        <div class="status__typing">
          <p class="status">{{ typing }}</p>
        </div>
        <ul id="messages" class="chat-box">
          <!-- render a new message component for every message -->
          <newmsg v-for="message in messages" :message="message"></newmsg>
        </ul>

        <form class="footer">
          <label class="hidden" for="message">Something to say?</label>
          <textarea @focus="catchTextFocus" v-model="message" id="textarea" class="message" autocomplete="off" placeholder="Type a message" autofocus="true"></textarea>
          <button id="send">
            <img src="./images/send.png" width="24" height="24" @click.prevent="dispatchMessage" type="submit" value="Send">  
          </button>
        </form>
      </div>
    </section>
  </main>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js" type="module" defer></script>
</body>
</html>