<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/main.css'/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap" rel="stylesheet">
  <title>Chat App</title>
</head>
<body>
  <h1 class="hidden">Chat App</h1>

  <main id="app">
    <section class="left__box">
      <h2>Input Messages here:</h2>
      <label>What is your Name/Nickname?</label>
      <input id="nickname" v-model="nickname" type="text" placeholder="Name/Nickname">
      <div class="pickone">
        <label>Choose your Characters</label>
        <div class="pickAvatar">
          <img src="/images/fox.png" alt="Character 1">
          <img src="/images/rac.png" alt="Character 1">
          <img src="/images/owl.png" alt="Character 1">
          <img src="/images/hed.png" alt="Character 1">
        </div>
      </div>
      <form>
        <label for="message">Something to say?</label>
        <textarea @focus="catchTextFocus" v-model="message" id="textarea" class="message" autocomplete="off"></textarea>
        <input @click.prevent="dispatchMessage" type="submit" value="Send">
      </form>
    </section>

    <section class="message right__box">
      <h2>Received Messages here:</h2>
      <ul id="messages">
        <!-- render a new message component for every message -->
        <newmsg v-for="message in messages" :message="message"></newmsg>
      </ul>
    </section>
  </main>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js" type="module" defer></script>
</body>
</html>